{% extends "layout.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
</head>

<body>
    <div>
        <h3>Here you check the output data table</h3>
    </div>
  <div>
      <table id="myTable" class="display" cellspacing="0" width="100%">
          <thead>
              <tr>
                  <th>Image Name</th>
                  <th>No of all pixels</th>
                  <th>No of black pixels</th>
                  <th>No of white pixels</th>
              </tr>
          </thead>
          <tbody>
            
          </tbody>
      </table>
  </div>
    <script src="../static/scripts/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="../static/scripts/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="../static/scripts/tableView.js" type="text/javascript"></script>
</body>
</html>
    {% endblock %}
